*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font: size 10px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10 100px;
    box-sizing: border-box;
    background: black;
    transition: .5s;
    z-index: 1000;
}